:root {
    color: #ffc93c;
    background-image: url(./images/project-bg-v5.jpg);
    background-size: 100% auto;
    background-repeat: repeat-y;

    font-family: 'Raleway', sans-serif;

    --black: #1a1a1a;
    --dark: #155263;
    --orange-neon: #ff6f3c;
    --orange: #ff9a3c;
    --yellow: #ffc93c;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ul {
    list-style: none;
  }

  a {
    color: var(--yellow);
    font-family: 'Pacifico', cursive;
    text-decoration: none;
  }
  a:hover {
    color: #c99a24
  }
  
  button {
    color: var(--yellow);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--black);
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: 'Pacifico', cursive;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  