.cartItemDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: blue;
    margin: 5px;
}

button {
    margin: 5px;
}

.cartImg {
    max-width: 100px;
    border-radius: 50%;
}