
.cart-item-container {
    padding-top: 110px;
    max-width: 650px;
    margin: 0 auto;
}

.cart-item-container h2 {
    color: var(--black);
    padding: 25px 0;
}

.cart-item-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 30px;
}

.cart-total {
    color: var(--yellow);
    background: var(--darklinear);
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    width: 15%;
    margin: 0 auto;
    box-shadow: var(--shadow-1);
}

.cart-empty-title {
    color: var(--dark);
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background: var(--darklinear);
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
    box-shadow: var(--shadow-1);
}

.cart-count-buttons button {
    margin: 5px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: var(--shadow-1);
}

.cartImg {
    max-width: 80px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: var(--shadow-1);
}

.cart-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 50px;
    padding-top: 20px;
    font-size: 19px;
    gap: 30px;
}

.cart-footer button {
    box-shadow: var(--shadow-1);
}

@media (max-width: 600px) {

    .cart-item-container {
        padding-top: 80px;
        max-width: 300px;
        margin: 0 auto;
    }
    
    .cart-item-container ul {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }

    .cart-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 3px;
        padding: 0px;
    }
    
    .cart-total {
        padding: 10px 10px;
        width: 40%;
        font-size: 18px;
    }
    
    .cart-count-buttons button {
        margin: 4px;
        font-size: 14px;
    }
    
    .cartImg {
        max-width: 70px;
    }
    
    .cart-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        padding-top: 20px;
        font-size: 14px;
        gap: 10px;
    }

    .cart-footer-checkout {
        font-size: 17px;
        background: var(--darklinear);
        padding: 10px 35px;
    }
    
}

