body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-container {
    padding-top: 110px;
    max-width: 650px;
    margin: 0 auto;
}

.cart-item-container ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cart-total {
    color: var(--yellow);
    background-color: var(--dark);
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    width: 30%;
    margin: 0 auto;
}

.cart-empty-title {
    color: var(--dark);
}

.cartItemDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: var(--dark);
    border-radius: 10px;
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
}

.cart-count-buttons button {
    margin: 5px;
}

.cartImg {
    max-width: 80px;
    border-radius: 50%;
    border: 1px solid black;
}

.cart-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 50px;
    padding-top: 20px;
    font-size: 19px;
    gap: 30px;
}


