
ul {
    margin-top: 10%;
    position: relative;
    list-style: none;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.dishdiv {
    position: relative;
    text-align: center;
    max-width: 300px;
    margin: 2%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #222831;
    
    transform-style: preserve-3d;
    transition: all 0.8s ease; 
}

.dishdiv-front {
    position: relative;
    backface-visibility: hidden;
}

.dishdiv-back {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    top: 70px;
    padding: 0 5px;
    height: 100%;
}

.dishdiv:hover {
    transform: rotateY(180deg);
}

.img-front {
    max-width: 100%;
    height: auto;
}

.img-back{
    position: relative;
    z-index: -1;
    opacity: 30%;
    width: 105%;
    height: auto;
}

