

.headercontainer {
    /*FONTSIZE*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(46, 31, 59);
    display:flex;
    justify-content: center;
    gap: 50px;
    align-items: baseline;
    opacity: 92%;
}

.cartandtotal {
    position: relative;
}

.totalnumber {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 60%;
    position: absolute;
    bottom: 30%;
    left: 100%;
    background-color: rgb(175, 100, 15);
    border-radius: 20px;
    z-index: -1;
}